{% extends 'main.html' %} {% block content %}
<style>
  /* NEW CSS FOR SEARCH ----------------------------------------------------------------------------------------*/
  #content main .input-text input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--light);
    border-radius: 36px 0 0 36px;
    outline: none;
    max-width: 20%;
    color: var(--dark);
  }

  #content main .input-text button {
    width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
  }

  #content main .input-text button:active {
    background-color: #8371fd;
  }

  /* MAIN */
  #content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
  #content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
  }
  #content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
  }
  #content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }
  #content main .head-title .left .breadcrumb li {
    color: var(--dark);
  }
  #content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
  }
  #content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
  }
  #content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
  }
  #content main .alert .btn-proceed {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 36px;
    cursor: pointer;
    margin-left: 950px;
    position: relative;
    top: -5px;
  }

  #content main .alert label {
    width: 100px;
    margin-left: 200px;
    border-style: groove;
    border-color: var(--yellow);
    border-radius: 36px;
    position: relative;
    top: 30px;
  }

  #content main .input-text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 36px;
  }

  #content main .input-text .searchingurl {
    margin-right: 10px;
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--light);
    border-radius: 36px;
    outline: none;
    max-width: 40%;
    color: var(--dark);
  }

  #content main .input-text .ref {
    width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 36px;
    cursor: pointer;
    margin-left: 10px;
  }

  #content main .table-data .left {
    width: 100%;
    height: 500px;
    float: left;
    /* overflow-y: scroll; */
  }

  #content main .table-data .right {
    width: 80%;
    height: 580px;
    float: right;
    overflow-y: scroll;
  }

  #content main .alert .alert-text {
    border-style: groove;
    border-color: #ff9800;
    width: 500px;
    height: 30px;
    border-radius: 36px;
  }
  /*ARI TAMAN------------------------------------------------------------------------*/
</style>

<!-- MAIN -->
<main>
  <div class="head-title">
    <div class="left">
      <h1>Search Tool</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="{% url 'search' %}">Search Tool</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="input-text">
    <input
      class="searchingurl"
      type="text"
      id="searchURL"
      name="searchURL"
      placeholder="Input URL"
    />
    <input type="text" id="webName" name="webName" placeholder="Website Name" />
    <button type="submit" class="input-btn">
      <i class="bx bx-search"></i>
    </button>
    <button class="ref" type="submit"><i class="bx bx-refresh"></i></button>
  </div>

  <div class="table-data">
    <div class="split">
      <div class="left">
        <table>
          <div class="head">
            <h3>Updates</h3>
          </div>
          <tr>
            <td>
              <tr>
                <p><b>Sample Website</b></p>
              </tr>
              <tr>
                Article 1
              </tr>
            </td>
          </tr>
          <tr>
            <td>
              <tr>
                <p><b>Sample Website</b></p>
              </tr>
              <tr>
                Article 2
              </tr>
            </td>
          </tr>
          <tr>
            <td>
              <tr>
                <p><b>Sample Website</b></p>
              </tr>
              <tr>
                Article 3
              </tr>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="right"></div>
  </div>

  <div class="alert">
    <label class="alert-text"
      ><i class="bx bx-error"></i>Updates and changes has been detected on this
      URL!</label
    >
    <button
      class="btn-proceed"
      onclick="window.location.href = 'comparing.html';"
    >
      Proceed to compare
    </button>
  </div>
</main>
<!-- MAIN -->

{% endblock content %}
